.footer-container {
  background-color: white;
  border-top: 2px solid #ddd;
  color: #333;
  padding: 0.5rem 0; /* Ajusta este valor para modificar la altura del footer */
  text-align: center;
  font-size: 0.9rem;
}

.footer-content p {
  margin: 0;
}
